parameters:
	level: 8
	autoload_files:
		- bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined method Cake\\ORM\\Association\\HasMany::getAlias()#'
		- '#Call to an undefined method Cake\\ORM\\Association\\BelongsTo::getAlias()#'
		- '#Property DataTables\\Table\\ConfigBundle::\$Columns#'
		- '#Property DataTables\\Table\\ConfigBundle::\$Options#'
		- '#Property DataTables\\Table\\ConfigBundle::\$Query#'
